{% extends 'base.html' %}

{% block content %}

    <div class="columns is-centered card-container">
        <div class="column is-half is-centered card has-text-centered"
            <img src={{ breed.image }} />

            <div class="card-header has-text-centered">
                <p class="card-header-title is-centered">{{ breed.name }}</p>
            </div>

            <div class="card-content has-text-centered">
                <p>{{ breed.description }}</p>
                <div class="columns is-centered">
                    <label class="single double" for="height">Height</label>
                    <p class="double" id="height">{{ breed.avg_height }}</p>
                </div>
                <div class="columns is-centered">
                    <label class="single double" for="weight">Weight</label>
                    <p class="double" id="weight">{{ breed.avg_weight }}</p>
                </div>
                <div class="columns is-centered">
                    <label class="single double" for="country">Country</label>
                    <p class="double" id="country">{{ breed.country }}</p>
                </div>
                <div class="columns is-centered">
                    <label class="single double" for="blood">Blood</label>
                    <p class="double" id="blood">{{ breed.blood }}</p>
                </div>

                {% if coats %}
                    <label for="coats">Coats</label>
                {% endif %}
                <p id="coats">{{ coats }}</p>
                
                {% if disciplines %}
                    <label for="disciplines">Disciplines</label>
                {% endif %}
                <p id="disciplines">{{ disciplines }}</p>
                
                    <div class="predecessors-wrapper">
                        {% if predecessors %}
                            <label for="predecessors">Predecessors</label>
                        {% endif %}
                        <div class="columns is-centered">
                            {% for predecessor in predecessors %}
                                    <a class="wrap" href={{ predecessor.link }}><p id="predecessors">{{ predecessor.name }}</p></a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        <div>
    </div>

{% endblock content %}